<div class="page-header"> 
  <h1>Login</h1>
</div>

<%= bootstrap_form_for (:user) do |f| %>
  <%= f.email_field :email, placeholder: 'Enter your email' %>
  <br>
  <%= f.password_field :password, placeholder: 'Enter your password' %>
  <br>
  <%= f.submit 'Login' %>
  <%= link_to('Cancel', root_path) %>
<% end %>
