<!-- Secondary Nav tabs -->
<div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Cohort List</a></li>
    <li role="presentaion"><a href="#deliverables" aria-controls="deliverables" role="tab" data-toggle="tab">Deliverables</a></li>
    <li role="presentaion"><a href="#pods" aria-controls="pods" role="tab" data-toggle="tab">Pods</a></li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- Students tab -->
  <div role="tabpanel" class="tab-pane active" id="home2">

    <h3>Students</h3>

    <table class="table">
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><a href="students/<%=student.user_id%>"><%= student.name %></a></td>
            <td><%= student.cohort %></td>
            <td><%= link_to('Edit User', edit_user_path(student.user_id), class: 'btn btn-default') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- End Students -->

  <!-- Deliverables Tab -->
  <div role="tabpanel" class="tab-pane fade" id="deliverables">
    <div>
      <h3 class="deliverable-header">Deliverables</h3>
      <h4 class="deliverable-header" "></h4>
      <div class="pull-right">
        <%= link_to('Add deliverable to cohort', new_deliverable_path, class: 'btn btn-default new-d') %>
      </div>
    </div>

    <table class="table">
      <thead><tr>
        <th>Type</th>
        <th>Name</th>
        <th>Notes</th>
        <th>Due_Date</th>
      </tr></thead>
      <tbody>
        <% @deliverables.each do |s| %>
        <tr>
          <td><%= s.deliverable_type %></td>
          <td><%= s.deliverable_name %></td>
          <td><%= s.notes %></td>
          <td><%= s.due_date %></td>
          <td><%= link_to('Edit', edit_deliverable_path(s.id), class: 'btn btn-default') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div> <!-- End Deliverables -->

  <!-- Pods Tab -->
  <div role="tabpanel" class="tab-pane fade" id="pods">
    <h2>Student Pods (<span data-bind="text: pods().length"></span>)</h2>

    <table>
        <thead><tr>
            <th>Student Name</th><th>Pod</th>
        </tr></thead>
        <tbody data-bind="foreach: pods">
            <tr>
                
            </tr>    
        </tbody>
    </table>

  </div> <!-- End Pods -->

  <!-- Tab -->
  <div role="tabpanel" class="tab-pane fade" id="#">
  </div>

</div>
<!-- end Tab Panes -->

</div>
<!-- end Nav Tabs -->