
<h1>Administrator Management Page</h1>
<div>
  <button><%= link_to('Create User', new_user_path) %></button>
</div>

<h3>Students</h3>

<table>
  <tbody>
    <% @users.order('name ASC').each do |user| %>
      <% if !user.admin %>
      <tr>
        <td><a href="students/<%=user.id%>"><%=user.name%></a></td>
        <td><button><%= link_to('Edit User', edit_user_path(user.id)) %></button></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Administrators</h3>

<table>
  <tbody>
    <% @users.order('name ASC').each do |user| %>
      <% if user.admin %>
      <tr>
        <td><%=user.name%></td>
        <td><button><%= link_to('Edit User', edit_user_path(user.id)) %></button></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
