<div class="page-header">
  <h1>Administrator Management Page</h1>
</div>

<!-- Nav tabs -->
<div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Students</a></li>
    <li role="presentation"><a href="#admins" aria-controls="admins" role="tab" data-toggle="tab">Admins</a></li>
    <li role="presentation"><a href="#new-user" aria-controls="new-user" role="tab" data-toggle="tab" class="nav-tabs-left">New User</a></li>
  </ul>

  <div role="tabpanel" class="tab-pane fade in active" id="home">
    <!-- Cohort -->
    <h3>By Cohort</h3>
    <div class="pull-right">
    <%= render '/cohorts/new', :locals => {:cohort => Cohort.new} %>
    </div>
    <!-- Select filter -->
    <div class="filter_options_container">
      <form class="filter_form">

          <%= select("cohort", "cohort", Cohort.all.collect(&:cohort), :include_blank => true) %>     
        <input type="submit" value="Filter" />
      </form>
    </div>
    <br>

  <!-- Secondary Students Nav -->
  <%= render :partial => 'students_cohorts', :student => @students %>
  </div>

  <!-- Admin tab -->
  <div role="tabpanel" class="tab-pane fade" id="admins">
  <h2>Enter a Staff Favorite Meet Up</h2>
  <%= bootstrap_form_for(:picks) do |p| %>

    <%= p.text_field :name %>
    <%= p.text_field :url %>

    <%= p.submit %>
  <% end %>
  
    <table class="table">
      <tbody>
        <% @users.order('name ASC').each do |user| %>
          <% if user.admin %>
            <tr>
              <td><%=user.name%></td>
              <td><%= link_to('Edit User', edit_user_path(user.id), class: 'btn btn-default') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>    
  </div>

  <!-- New User tab -->
  <div role="tabpanel" class="tab-pane fade" id="new-user">
    <div>
      <%= link_to('Create User', new_user_path, class: 'btn btn-default') %>
    </div>
  </div>

</div>
<!-- end Tab Panes -->

</div>
<!-- end Nav Tabs -->

