<div class="students-profile">
  <div class="row flex-row">
      <h1>Profile</h1>
      <div class="profile-nav">
      </div>
    </div>
    <div class="profile">
      <div class="row">
        <div class="profile-header">
          <div class="prof-head-col">
            <div class="profile-pic">
            </div>
          </div>
          <div class="prof-head-col">
            <h2><%=@user.name%></h2>
            <span>Cohort WDI08</span>
          </div>
          <div class="prof-head-col">
          <% if !@current_user.admin && @current_user == @user %>
            <button class="edit">Edit Profile</button>
            <%= link_to 'Change Password', edit_user_path(params[:id]) %>
          <% end %>
          </div>
        </div>
      </div>

      <%= form_for @user.student do |f| %>

        <div class="row">
          <p>Branding Statement</p>
          <div class="branding">
            <p class="hide_on_edit"><%= @user.student.brand %>
            </p>
            <%= f.text_area :brand, class: 'update focus show_on_edit'%>
          </div>
        </div>

        <div class="row">
          <p>
            <span>Resume Link</span>
            <a class="hide_on_edit" href="<%= @user.student.resume %>"> <%= @user.student.resume %>
            </a>
          </p>
          <%= f.url_field :resume, class: 'url-link update show_on_edit'%>
        </div>

        <div class="row">
          <p>
            <span>LinkedIn Link</span>
            <a class="hide_on_edit" href="<%= @user.student.linkedin %>"> <%= @user.student.linkedin %>
            </a>
          </p>
          <%= f.url_field :linkedin, class: 'url-link update show_on_edit' %>
        </div>

        <div class="row">
          <p><span>Portfolio Link</span>
            <a class="hide_on_edit" href="<%= @user.student.portfolio %>"> <%= @user.student.portfolio %>
            </a>
          </p>
          <%= f.url_field :portfolio, class: 'url-link update show_on_edit'%>
        </div>

        <div class="row">
          <p>
            <span>Job Tracker</span>
            <a class="hide_on_edit" href="<%= @user.student.jobtracker %>"> <%= @user.student.jobtracker %>
            </a>
            </p>
          <%= f.url_field :jobtracker, class: 'url-link update show_on_edit'%>
        </div>

        <%= f.submit class: 'submit-button'%>
      <% end %>

  </div>
</div>