<div class="students-profile">
  <div class="profile">
    <div class="row">
      <div class="profile-header">
        <div class="prof-head-col">
          <div class="profile-pic">
          </div>
        </div>
        <div class="prof-head-col">
          <h2><%=@user.name%></h2>
          <%@user.student.cohorts.each do |cohort|%>
            <span><%=cohort.cohort%></span>
          <% end %>
        </div>
        <div class="prof-head-col">
        <% if !@current_user.admin && @current_user == @user %>
          <button class="edit">Edit Profile</button>
          <div class="password"><%= link_to 'Change Password', edit_user_path(params[:id]) %>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <%= form_for @user.student do |f| %>

      <div class="row">
        <p>Branding Statement</p>
        <div class="branding">
          <p class="hide_on_edit"><%= @user.student.brand %>
          </p>
          <%= f.text_area :brand, class: 'update focus show_on_edit', :autofocus => true %>
        </div>
        <% if @user != @current_user %>
          <a href="#" class="comment_brand">Leave a Comment</a>
        <% end %>
      </div>
      

     

      <div class="row">
        <p>
          <span>Resume Link</span>
          <a class="hide_on_edit" href="<%= @user.student.resume %>"> <%= @user.student.resume %>
          </a>
        </p>
        <%= f.url_field :resume, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_resume">Leave a Comment</a>
        <% end %>
      </div>
      <textarea class="comment_form_resume feild" autofocus ></textarea>
      <input type="submit" class="comment_form_resume send">

      <div class="row">
        <p>
          <span>LinkedIn Link</span>
          <a class="hide_on_edit" href="<%= @user.student.linkedin %>"> <%= @user.student.linkedin %>
          </a>
        </p>
        <%= f.url_field :linkedin, class: 'url-link update show_on_edit' %>
        <% if @user != @current_user %>
          <a href="#" class="comment_linkedin">Leave a Comment</a>
        <% end %>
      </div>
      <textarea class="comment_form_linkedin feild" autofocus ></textarea>
      <input type="submit" class="comment_form_linkedin send">

      <div class="row">
        <p><span>Portfolio Link</span>
          <a class="hide_on_edit" href="<%= @user.student.portfolio %>"> <%= @user.student.portfolio %>
          </a>
        </p>
        <%= f.url_field :portfolio, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_portfolio">Leave a Comment</a>
        <% end %>
      </div>
      <textarea class="comment_form_portfolio feild" autofocus></textarea>
      <input type="submit" class="comment_form_portfolio send">

      <div class="row">
        <p>
          <span>Job Tracker</span>
          <a class="hide_on_edit" href="<%= @user.student.jobtracker %>"> <%= @user.student.jobtracker %>
          </a>
          </p>
        <%= f.url_field :jobtracker, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_jobtracker">Leave a Comment</a>
        <% end %>
      </div>
      <textarea class="comment_form_jobtracker feild" autofocus ></textarea>
      <input type="submit" class="comment_form_jobtracker send">

      <%= f.submit class: 'submit-button'%>
    <% end %>

  </div>
</div>

 <%= form_for @review = Review.new do |r| %>
        <%= r.hidden_field :student_id, :value => @user.student.id %>
        <%= r.hidden_field :review_type, :value => 'brand' %>
        <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
        <%= r.text_area :review_content, class: 'comment_form_brand feild', :autofocus => true %>
        <%= r.submit class:'comment_form_brand send' %>
      <% end %>

      <!-- (student_id: @user.student.id, review_type: 'brand', reviewer_name: @current_user.name)  -->