<div class="students-profile">
  <div class="profile">
    <div class="row">
      <div class="profile-header">
        <!-- This is the Profile Info -->
        <div class="prof-head-col">
          <h2><%=@user.name%></h2>
          <%@user.student.cohorts.each do |cohort|%>
            <span><%=cohort.cohort%></span>
          <% end %>
        </div>
        <div class="prof-head-col">
        <% if !@current_user.admin && @current_user == @user %>
          <button class="edit">Edit Profile</button>
          <div class="password"><%= link_to 'Change Password', edit_user_path(params[:id]) %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!-- This is the student's deliverables -->
    <%= form_for @user.student do |f| %>
      <!-- Branding Statement -->
      <div class="row brand">
        <p>Branding Statement</p>
        <div class="branding">
          <p class="hide_on_edit"><%= @user.student.brand %>
          </p>
          <%= f.text_area :brand, class: 'update focus show_on_edit', :autofocus => true %>
        </div>
        <% if @user != @current_user %>
          <h4><a href="#" class="comment_brand">Leave a Comment</a></h4>
        <% elsif @user == @current_user && @brand.length > 0 %>
          <a href="#" class="reviews_brand">See Reviews</a>
        <% end %>
      </div>
      <a href="#" class="close_brand">Close</a>
      <div class="accordion_brand">
        <% @brand.each do |brand|%>
          <h3>From <%=brand.reviewer_name%></h3>
          <div>
            <p><%=brand.review_content%></p>
          </div>
        <% end %>
      </div>


      <!-- Resume Link -->
      <div class="row">
        <p>
          <span>Resume Link</span>
          <a class="hide_on_edit" href="<%= @user.student.resume %>"> <%= @user.student.resume %>
          </a>
        </p>
        <%= f.url_field :resume, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_resume">Leave a Comment</a>
        <% elsif @user == @current_user && @resume.length > 0 %>
          <a href="#" class="reviews_resume">See Reviews</a>
        <% end %>
      </div>
      <a href="#" class="close_resume">Close</a>
      <div class="accordion_resume">
        <% @resume.each do |resume|%>
          <h3>From <%=resume.reviewer_name%></h3>
          <div>
            <p><%=resume.review_content%></p>
          </div>
        <% end %>
      </div>
      <!-- LinkedIn Link -->
      <div class="row">
        <p>
          <span>LinkedIn Link</span>
          <a class="hide_on_edit" href="<%= @user.student.linkedin %>"> <%= @user.student.linkedin %>
          </a>
        </p>
        <%= f.url_field :linkedin, class: 'url-link update show_on_edit' %>
        <% if @user != @current_user %>
          <a href="#" class="comment_linkedin">Leave a Comment</a>
        <% elsif @user == @current_user && @linkedin.length > 0 %>
          <a href="#" class="reviews_linkedin">See Reviews</a>
        <% end %>
      </div>
       <a href="#" class="close_linkedin">Close</a>
      <div class="accordion_linkedin">
        <% @linkedin.each do |linkedin|%>
          <h3>From <%=linkedin.reviewer_name%></h3>
          <div>
            <p><%=linkedin.review_content%></p>
          </div>
        <% end %>
      </div>
  
      <!-- Portfolio Link -->
      <div class="row">
        <p><span>Portfolio Link</span>
          <a class="hide_on_edit" href="<%= @user.student.portfolio %>"> <%= @user.student.portfolio %>
          </a>
        </p>
        <%= f.url_field :portfolio, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_portfolio">Leave a Comment</a>
        <% elsif @user == @current_user && @portfolio.length > 0 %>
          <a href="#" class="reviews_portfolio">See Reviews</a>
        <% end %>
      </div>
       <a href="#" class="close_portfolio">Close</a>
      <div class="accordion_portfolio">
        <% @portfolio.each do |portfolio|%>
          <h3>From <%=portfolio.reviewer_name%></h3>
          <div>
            <p><%=portfolio.review_content%></p>
          </div>
        <% end %>
      </div>
      <!-- Job Tracker Link -->
      <div class="row">
        <p>
          <span>Job Tracker</span>
          <a class="hide_on_edit" href="<%= @user.student.jobtracker %>"> <%= @user.student.jobtracker %>
          </a>
          </p>
        <%= f.url_field :jobtracker, class: 'url-link update show_on_edit'%>
        <% if @user != @current_user %>
          <a href="#" class="comment_jobtracker">Leave a Comment</a>
        <% elsif @user == @current_user && @jobtracker.length > 0 %>
          <a href="#" class="reviews_jobtracker">See Reviews</a>
        <% end %>
      </div>
       <a href="#" class="close_jobtracker">Close</a>
      <div class="accordion_jobtracker">
        <% @jobtracker.each do |jobtracker|%>
          <h3>From <%=jobtracker.reviewer_name%></h3>
          <div>
            <p><%=jobtracker.review_content%></p>
          </div>
        <% end %>
      </div>
      <%= f.submit class: 'submit-button'%>
    <% end %>
  </div>

  <!-- Comment for Branding -->
  <div class="comment_form_brand">
    <%= form_for @review = Review.new do |r| %>
      <%= r.hidden_field :student_id, :value => @user.student.id %>
      <%= r.hidden_field :review_type, :value => 'brand' %>
      <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
      <%= r.text_area :review_content, class: 'feild', :autofocus => true %>      
      <%= r.submit class:'send' %>
    <% end %>
    <a href="#" class="cancel_brand">Cancel</a>
  </div>

  <!-- Comment for Resume Link -->
  <div class="comment_form_resume">
    <%= form_for @review = Review.new do |r| %>
      <%= r.hidden_field :student_id, :value => @user.student.id %>
      <%= r.hidden_field :review_type, :value => 'resume' %>
      <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
      <%= r.text_area :review_content, class: 'feild', :autofocus => true %>
      <%= r.submit class:'send' %>
    <% end %>
    <a href="#" class="cancel_resume">Cancel</a>
  </div>

  <!-- Comment for LinkedIn Link -->
  <div class="comment_form_linkedin">
    <%= form_for @review = Review.new do |r| %>
      <%= r.hidden_field :student_id, :value => @user.student.id %>
      <%= r.hidden_field :review_type, :value => 'linkedin' %>
      <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
      <%= r.text_area :review_content, class: 'feild', :autofocus => true %>
      <%= r.submit class:'send' %>
    <% end %>
    <a href="#" class="cancel_linkedin">Cancel</a>
  </div>

  <!-- Comment for Portfolio Link -->
  <div class="comment_form_portfolio">
    <%= form_for @review = Review.new do |r| %>
      <%= r.hidden_field :student_id, :value => @user.student.id %>
      <%= r.hidden_field :review_type, :value => 'portfolio' %>
      <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
      <%= r.text_area :review_content, class: 'feild', :autofocus => true %>      
      <%= r.submit class:'send' %>
    <% end %>
    <a href="#" class="cancel_portfolio">Cancel</a>

  </div>

  <!-- Comment for Job Tracker Link -->
  <div class="comment_form_jobtracker">
    <%= form_for @review = Review.new do |r| %>
      <%= r.hidden_field :student_id, :value => @user.student.id %>
      <%= r.hidden_field :review_type, :value => 'jobtracker' %>
      <%= r.hidden_field :reviewer_name, :value => @current_user.name %>
      <%= r.text_area :review_content, class: 'feild', :autofocus => true %>
      <%= r.submit class:'send' %>
    <% end %>
    <a href="#" class="cancel_jobtracker">Cancel</a>
  </div>
</div>