<div class="students-profile">
  <div class="row flex-row">
      <h1>Profile</h1>
      <div class="profile-nav">
        <nav>
          <button><%= link_to('Edit User', edit_user_path(params[:id])) %></button>
          <button><%= link_to('Admin Management', students_path) %></button>
        </nav>
      </div>
    </div>

    <div class="profile">
      <div class="row">
        <div class="profile-header">
          <div class="prof-head-col">
            <div class="profile-pic">
            </div>
          </div>
          <div class="prof-head-col">
            <h2><%=@user.name%></h2>
            <span>Cohort WDI08</span>
          </div>
          <div class="prof-head-col">
            <button class="edit">Edit Profile</button>
          </div>
        </div>
      </div>

      <form method="get">
        <div class="row">
          <p>Branding Statement</p>
          <div class="branding">
            <textarea type="text" class="update" readonly="readonly"><%= @user.student.brand %></textarea>
          </div>
        </div>

        <div class="row">
            <p>Resume Link</p>
            <input class="url-link update" readonly type="url" value="<%= @user.student.resume %>" />
        </div>

        <div class="row">
            <p>LinkedIn Link</p>
            <input class="url-link update" readonly="readonly" type="url" value="<%= @user.student.linkedin %>" />
        </div>

        <div class="row">
            <p>Portfolio Link</p>
            <input class= "url-link update" readonly="readonly" type="url" value="<%= @user.student.portfolio %>" />
        </div>
        <input class="submit-button" type="submit" value="Submit">
      </form>
  </div>
</div>