<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a href="/"><%= image_tag 'gaIcon.jpg' %></a>

      <% if @current_user && @current_user.admin %>
        <%= link_to('Events', root_path, class: 'btn btn-default navbar-btn') %>
        <%= link_to('Admin', students_path, class: 'btn btn-default navbar-btn') %>
        <%= link_to('Logout', logout_path, method: :delete, class: 'btn btn-default navbar-btn') %>
        <strong><span style="color:white"><%= @current_user.name + ': Administrator' %></span></strong>
      <% elsif @current_user %>
        <%= link_to('Events', root_path, class: 'btn btn-default navbar-btn') %>
        <%= link_to('Profile', student_path(@current_user.id), class: 'btn btn-default navbar-btn') %>
        <%= link_to('Logout', logout_path, method: :delete, class: 'btn btn-default navbar-btn') %>
        <strong><span style="color:white"><%= @current_user.name + ': Student' %></span></strong>
      <% else %>
        <%= link_to('Login', login_path, class: 'btn btn-default navbar-btn') %>
      <% end %>
      
    </div>
       <form action="/" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" name=":topic" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</nav>