<div class="container">
  <h1>Staff Picks</h1>

<% @picks.each do |p| %>
  <div class="well">
    <h3><a href="<%= p.url %>"><%= p.name %></a></h3>

      <% if (p.host_location != '' && p.host_location != nil) %>
        <label>Host: </label>
        <p class="pick"><%= p.host_location %></p>
      <% end %>

      <% if (p.staff_attending != '' && p.staff_attending != nil) %>
        <label>Staff Attending: </label>
        <p class="pick"><%= p.staff_attending %></p>
        <br>
      <% end %>

      <% if (p.date != '' && p.date != nil) %>
        <label>Date: </label>
        <p class="pick"><%= p.date.to_formatted_s(:long) %></p>
        <br>
      <% end %> 

      <% if p.notes != '' && p.notes != nil %>
        <label>Notes: </label>
        <p><%= p.notes %></p>
      <% end %>
  </div>
<% end %>

</div>