<div class="container">
  <%= bootstrap_form_for User.new, remote: :true do |f| %>

    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.radio_button :admin, 'false', :checked => true, class: 'student'%>
    <%= f.label :admin_false, 'student' %>
    <%= f.radio_button :admin, 'true', :checked => false, class: 'admin'%>
    <%= f.label :admin_true, 'admin' %>
    <div class="hide_admin">
      <%= collection_select(:cohorts_students, :cohort_id, Cohort.all, :id, :cohort) %>
    </div>
    <%= f.submit %>

  <% end %>
</div>
