<div class="page-header">
  <h1>New User</h1>
</div>

<%= bootstrap_form_for @user do |f| %>

  <%= f.text_field :name %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.radio_button :admin, 'false', :checked => true, class: 'student'%>
  <%= f.label :admin_false, 'student' %>
  <%= f.radio_button :admin, 'true', :checked => false, class: 'admin'%>
  <%= f.label :admin_true, 'admin' %>
  <br>
  <div class="hide_admin">
  <%= collection_select(:cohorts_students, :cohort_id, Cohort.all, :id, :cohort) %>
  </div>
  <br>
  <%= f.submit %>
  <%= link_to('Cancel', students_path) %>

<% end %>
