<h1>New User</h1>
<%= form_for @user do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.text_field :password %>

<%= f.label :password_confirmation %>
<%= f.text_field :password_confirmation %>

<%= f.radio_button :admin, 'true', :checked => true %>
<%= f.label :admin_true, 'admin' %>
<%= f.radio_button :admin, 'false', :checked => false %>
<%= f.label :admin_false, 'student' %>

<%= f.submit %>

<% end %>
